.capistrano/
.circleci/
.github/
coverage/
doc/
log/*
tmp/*
.byebug_history
.codeclimate.yml
.editorconfig
.env
.env.production
.env.staging
.gitignore
.hgtags
.travis.yml
Dockerfile
README.md
SECURITY.md
