<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Single-use pin is <%= @pin %>. </p>
    <p>GoodCity.HK welcomes you! Enjoy browsing quality goods. </p>
  </body>
</html>
