<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <p>
    一次性驗證碼為<%= @pin %>。好人好市歡迎您！我們期待您的善心捐獻。（如你並沒有要求驗證碼，請忽略此信息）
  </p>
</body>
</html>
