---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/89060/events?auth_key=ef16f3c0f3a2f14f5498&auth_signature=68ad089803472711c9bbf6b5935bc2918eb2e2aaed8ee186f36b0ec37a25a39e&auth_timestamp=1412928642&auth_version=1.0&body_md5=99e1b47b4df6b1288471d97d859dbf3d
    body:
      encoding: UTF-8
      string: '{"name":"update_store","channels":["user_8372"],"data":"{\"items\":[],\"messages\":[],\"user\":[{\"id\":8370,\"first_name\":\"Rowena\",\"last_name\":\"Kris\",\"mobile\":\"11111111\",\"address_id\":10054,\"permission_id\":null}],\"addresses\":[{\"id\":10054,\"street\":\"MyString\",\"flat\":\"MyString\",\"building\":\"MyString\",\"district_id\":null,\"addressable_id\":8370,\"addressable_type\":\"User\"}],\"districts\":[],\"permissions\":[],\"deliveries\":[],\"offer\":{\"id\":2529,\"language\":\"en\",\"state\":\"submitted\",\"origin\":\"web\",\"stairs\":false,\"parking\":true,\"estimated_size\":\"4\",\"notes\":\"Non
        modi dolorum incidunt dolores quia qui voluptates. Dolorum voluptas veniam
        sint est. At eaque ipsum nesciunt atque molestias qui quo. Repellat non aut
        illo odit non eligendi.\",\"created_by_id\":8370,\"created_at\":\"2014-10-10T08:10:42.423Z\",\"updated_at\":\"2014-10-10T08:10:42.427Z\",\"submitted_at\":\"2014-10-10T08:10:42.427Z\",\"user_id\":8370,\"delivery_id\":null,\"reviewed_by_id\":null,\"reviewed_at\":null,\"item_ids\":[],\"message_ids\":[]}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 10 Oct 2014 08:10:44 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/89060/events?auth_key=ef16f3c0f3a2f14f5498&auth_signature=8ea28bbd2629f8e73683be1d1944566fced767992b82dd4ba1b9832b70761de2&auth_timestamp=1412928876&auth_version=1.0&body_md5=2fccd95bb514507961dc1dab63dfbeae
    body:
      encoding: UTF-8
      string: '{"name":"update_store","channels":["user_8399"],"data":"{\"user\":[{\"id\":8397,\"first_name\":\"Kacey\",\"last_name\":\"Welch\",\"mobile\":\"11111111\",\"address_id\":10087,\"permission_id\":null}],\"addresses\":[{\"id\":10087,\"street\":\"MyString\",\"flat\":\"MyString\",\"building\":\"MyString\",\"district_id\":null,\"addressable_id\":8397,\"addressable_type\":\"User\"}],\"districts\":[],\"permissions\":[],\"message\":{\"id\":705,\"body\":\"Vitae
        id dolore ut totam at exercitationem veritatis quia. Nihil numquam qui fuga
        ipsam iste aut. Optio delectus tenetur aperiam ad modi. Distinctio exercitationem
        ut omnis eius suscipit itaque atque quae. Consectetur quidem rerum eos similique
        est.\",\"state\":\"unread\",\"sender_id\":8397,\"is_private\":false,\"created_at\":\"2014-10-10T08:14:26.532Z\",\"updated_at\":\"2014-10-10T08:14:26.532Z\",\"offer_id\":2537,\"item_id\":null}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 10 Oct 2014 08:14:37 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/89060/events?auth_key=ef16f3c0f3a2f14f5498&auth_signature=4ab2491b729dc1a6b32723a4fc4d15adc6bb11d8a8e7f6f1a95a1583f33f9e76&auth_timestamp=1412948015&auth_version=1.0&body_md5=d1766ae1fc99ba3627965c69ee13b11d
    body:
      encoding: UTF-8
      string: '{"name":"update_store","channels":["user_8967"],"data":"{\"items\":[],\"messages\":[],\"user\":[{\"id\":8965,\"first_name\":\"Lonny\",\"last_name\":\"Abbott\",\"mobile\":\"11111111\",\"address_id\":10831,\"permission_id\":null}],\"addresses\":[{\"id\":10831,\"street\":\"Ludie
        Mount\",\"flat\":\"Suite 893\",\"building\":\"3891\",\"district_id\":262,\"addressable_id\":8965,\"addressable_type\":\"User\"}],\"districts\":[{\"id\":262,\"name\":\"North
        Point\",\"territory_id\":573}],\"permissions\":[],\"deliveries\":[],\"offer\":{\"id\":2758,\"language\":\"en\",\"state\":\"submitted\",\"origin\":\"web\",\"stairs\":true,\"parking\":false,\"estimated_size\":\"2\",\"notes\":\"Debitis
        ipsa ut alias et consequatur. Tenetur qui consectetur possimus sequi cum dolorem
        veniam ut. Iste sapiente fugit et ut molestiae maiores.\",\"created_by_id\":8965,\"created_at\":\"2014-10-10T13:33:35.844Z\",\"updated_at\":\"2014-10-10T13:33:35.847Z\",\"submitted_at\":\"2014-10-10T13:33:35.846Z\",\"user_id\":8965,\"delivery_id\":null,\"reviewed_by_id\":null,\"reviewed_at\":null,\"item_ids\":[],\"message_ids\":[]}}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 10 Oct 2014 13:33:37 GMT
[...]
