default: &default
  host: <%= ENV['DATABASE_HOST'] || localhost %>
  adapter: postgresql
  encoding: unicode
  username: postgres
  pool: 5

development:
  <<: *default
  database: goodcity_server_development

test:
  <<: *default
  database: goodcity_server_test

staging:
  <<: *default
  database: goodcity_server_staging

production:
  <<: *default
  database: goodcity_server_production
  pool: <%= ENV['MAX_THREADS'] || 25 %>
