---
:concurrency: 5
:pidfile: tmp/pids/sidekiq.pid
staging:
  :concurrency: 3
production:
  :concurrency: 20

#  A queue with a weight of 2 will be checked twice as often as a queue with a weight of 1
:queues:
  - default
  - mailers
  - airbrake
  - low
  - gogovan_orders
  - stockit_updates
  - stockit_sync_orders_package_updates
  - [high, 2]
