<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
          Ubuntu, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
      }

      p {
        margin-top: 10px;
        margin-bottom: 0px;
        color: rgb(23, 43, 77);
        font-size: 14px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-weight: 400;
      }

      .header {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
